 <body>
    <div class="container studygroups">
        <h1 class="display-4 studyroomheading">Study Groups Chat Selection</h1>
    </div>
    <hr>
    <div>
        <div class="container secondcontainer">
            <div class="row">
                <div class="col-lg-4 roomselection">
                    <h2>Pick a Study Chat Room!</h2>
                    <a href="/javascriptroom" role="button"><button class="btn btn-primary btn-lg"type="button">Javascript</button></a>
                    <a href="#" role="button"><button type="button" class="btn btn-secondary btn-lg">Python</button></a>
                    <a href="#" role="button"><button type="button" class="btn btn-success btn-lg">HTML</button></a>
                </div>
                <div class="col-lg-4 javascriptenternames">
                    <h2>Enter Your Name and Email Here</h2>
                    <p class="cool-font">Name</p>
                    <input class="form-control" type="name" id="name" placeholder="Enter your name">
                    <br>
                    <p class="cool-font javascriptemail">Email</p>
                    <input class="form-control" type="email" id="emailarea" placeholder="Enter your email">
                    <button id="name-submit" class="btn-btn-lg pull-right">Submit</button>
                </div>
                <div class="col-sm-4 usersname">
                    <h2>Users Currently Here</h2>
                    <hr>
                    <div id="user-area"></div>
                </div>
            </div>
        </div>
    </div>

</body>