 <body>
    <div class="jumbotron">
        <h1 class="display-4 studyroomheading">Welcome to the Study Groups Selection Page!</h1>
        <p class="lead studyroomquestion">Ready to study? Select a Button From Below</p>
        <hr class="my-4">
    </div>

    <div>
        <div class="container secondcontainer">
            <div class="row">
                <div class="col-lg-12">
                    <a href="/javascriptroom" role="button"><button class="btn btn-primary btn-lg btn-block"type="button">Javascript</button></a>
                    <a href="#" role="button"><button type="button" class="btn btn-secondary btn-lg">Python</button></a>
                    <a href="#" role="button"><button type="button" class="btn btn-success btn-lg">HTML</button></a>
                </div>
            </div>
        </div>
    </div>

</body>