<body>
    <div class="container">
        <h1 class="text-center javascriptheading">Javascript Study Area</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-3 sidecolumn">
            <a href='/'><button class="otherbutton">Study Another Subject Instead</button></a>
            <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form class="usernameandpassword" action="/" method="post">
                <div class="username">
                    <label for="name">Username:</label>
                    <input type="text" name="username" id="name"/>
                </div>
                <div class="password">
                    <label="pass">Password:</label>
                    <input type="password" name="password" id="password"/>
                </div>
                <div>
                    <input class="loginbutton" type="submit" value="Log In"/>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <div class='col-md-9'>
            <h2>Join the conversation about Javascript using Socket.io technology</h2>
            <div id='message-area'>
                <div id='message-container'></div>
                <form id='send-container'>
                    <input type='text' id='message-input'>
                    <button type='submit' id='send-button'>send</button>
                </form>
            </div>
        </div>

    </div>
    
    
</body>