<h2 class="loginh2">Welcome to the Study Group Login Page</h2>
<div class="loginpage">
    <form class="usernameandpassword" action="/javascriptroom" method="post">
    <div class="username">
        <label for="name">Username:</label>
        <input type="text" name="username" id="name"/>
    </div>
    <div class="password">
        <label="pass">Password:</label>
        <input type="password" name="password" id="password"/>
    </div>
    <div>
        <input class="loginbutton" type="submit" value="Log In"/>
    </div>
    </form>
</div>
<a href='https://arcane-scrubland-50171.herokuapp.com/'><button class="otherbutton">Link To Site Index</button></a>