body{
    background-color: whitesmoke;
    font-family: 'Baloo 2', cursive;
    
}

.studyroomheading{
    text-align: center;
    font-family: 'Baloo 2', cursive;
    background-color: lightsalmon;
}
  
.studyroomquestion{
    text-align: center;
}
  
.subjectbuttons{
    text-align: center;
    padding: 20px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}