/* MSnow css - to keep track of styling */

/* All body background color -Msnow */
body{
  margin:0;
  padding:0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Login form for login page Msnow */

form {
  display: inline-block;
}

.sidecolumn{
  background-color: rgb(246, 251, 252);
}

/*study room selection*/

.roomselection{
  background-color: rgb(238, 237, 237);
}

.javascriptenternames{
  background-color: lightsteelblue;

}


.loginh2{
  background-color: rgb(217, 228, 243);
  text-align: center;
  color: black;
  padding: 20px;
}

.topborder{
  border-style:solid

}


/* Login Page Msnow */

/* Login Page Msnow */

.loginpage{
  margin: auto;
  height: 200px;
  width: 60%;
  border: 3px solid #a6bad8;
  padding: 10px;
}

/* Login Page Msnow */
.username{
  margin: 1px;
  padding: 5px;
}

/* Login Page Msnow */
.password{
  margin-top:10px;
  padding:5px;
}

/*Login Button Msnow */

.loginbutton{
  margin-top: 20px;
  width: 200px;
  background-color: rgb(225, 234, 238);
}

/* Login other button msnow */
.otherbutton{
  background-color: crimson;
}

/* Index styling msnow */ 
.studyroomheading{
  text-align: center;
  padding:20px;
}

/* Index styling msnow */ 

.studyroomquestion{
  text-align: center;
  font-size: 30px;
}

/* Index styling msnow */ 
.subjectbuttons{
  font-size: 50px;
  text-align: center;
  padding: 30px;
}

/* Javascript study room msnow */

.javascriptheading{
  color:black;
  padding:20px;
}

.usersname{
  text-align: center;
  background-color: rgb(246, 251, 252);
}

.sidecolumn{
  background-color: rgb(246, 251, 252);
}


/* login page */

.form-group{
  text-align: center;
}