<div class="jumbotron">
            <h1 class="text-center">Javascript Study Area!</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>Name</p>
                    <input class="form-control" type="text" id="name" placeholder="Enter your name">
                    <br>
                    <p>Email</p>
                    <input class="form-control" type="text" id="emailarea" placeholder="Enter your email">
                    <button id="name-submit" class="btn-btn-lg pull-right">Submit</button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2>Users</h2>
                    <hr>
                    <div id="user-area"></div>
                    </div>
                </div>
            </div>
        </div>